body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee
}

.finished {
    color:green !important;
}

.failure  {
    color:red !important;
}

.aborted_split_events_failure  {
    color:red !important;
}

.reprocessing_pending_approval{
    color: orange !important;
}

.approved{
    color: lightgreen !important;
}

.skipped {
    color: lightsalmon !important;
}

.clickable{
    cursor: pointer !important;
}

.running_without_lock {
    color: greenyellow !important;
}

.running {
    color: darkolivegreen !important;
}

.col {
    flex: 1;
    margin:10px;
}